.actors {
  @include mainBlock();
  padding: 50px 20px;
  padding-top: 70px;

  @include media-tablet {
    padding: 50px;
  }

  @include media-desktop {
    padding: 80px 150px;
  }
}

.actors__title {
  @include indent();
  padding: 0.2em 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;

  & span {
    color: #a5a5a5;
    padding-left: 1em;
  }
}

.actors__list {
  @include indent();
  @include list();
  @include flex();
  flex-direction: column;

  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.actors__item {
  @include indent();

  @include media-tablet {
    flex-basis: 230px;
    flex: auto;
  }

  @include media-desktop {
    width: 25%;
  }
}

.actors__link {
  @include flex();
  @include indent();
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $blue-color;

  &:hover .actors__name,
  &:focus .actors__name {
    opacity: 0.5;
  }

  &:active .actors__name {
    opacity: 0.8;
  }
}

.actors__img {
  @include indent();
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightblue;
}

.actors__img img {
  object-fit: cover;
}

.actors__name {
  @include indent();
  @include flex();
  flex: auto;
  flex-direction: column;

  & .actors__name--eng {
    color: $grey-color;
  }
}
