.info {
  @include mainBlock();
}

.info__title {
  @include indent();
}

.info__title--eng {
  @include indent();
  padding: 0.5em;
  color: $grey-color;
}

.info__title-text {
  @include indent();
  @include flex();
  padding: 0.5em;
}

.info__table {
  padding: 1em;
}

.info__rating {
  @include indent();
  @include flex();
}

.info__rating-percent {
  @include indent();
  @include flex();
  color: $blue-color;
}
