.user-nav {
  @include indent();
  @include list();
  padding-top: 40px;
  @include flex();
  flex-direction: column;
  align-items: center;

  @include media-tablet() {
    flex-direction: row;
    @include indent();
    border-left: 1px solid #d4d4d4;
  }
}

.user-nav__item {
  @include indent();
}

.user-nav__link {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #ffffff;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  @include media-tablet() {
    color: $dark-color;
    font-size: 18px;
    line-height: 21px;
    @include indent();
    padding: 2.3em;
    padding-right: 3.3em;
    padding-left: 2.8em;
  }
}

.user-nav__link--reg {
  @include media-tablet() {
    color: $blue-color;
    background-color: #ffffff;
    padding-right: 1.5em;
    padding-left: 2em;
  }
}

.user-nav__link--login {
  @include media-tablet() {
    color: #ffffff;
    background-color: $blue-color;
  }
}
