@mixin indent() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin mainBlock() {
  @include indent();
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;
}

@mixin placeholderShown() {
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}
